<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aiocloud.onetable.mysql.sys.mapper.SysRoleMapper">

    <resultMap id="BaseResultMap" type="com.aiocloud.onetable.mysql.sys.po.SysRolePO">
        <id property="id" column="id"/>
        <result property="roleName" column="role_name"/>
        <result property="status" column="status"/>
        <result property="deleteFlag" column="delete_flag"/>
        <result property="createUid" column="create_uid"/>
        <result property="createTime" column="create_time"/>
        <result property="updateUid" column="update_uid"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,role_name,status,delete_flag,create_uid,create_time,
        update_uid,update_time
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from sys_role
        where role_id = #{roleId}
    </select>

    <select id="selectAll"  resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from sys_role
        where delete_flag = 0
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete
        from sys_role
        where role_id = #{roleId}
    </delete>
    <insert id="insert" keyColumn="role_id" keyProperty="roleId"
            parameterType="com.aiocloud.onetable.mysql.sys.po.SysRolePO" useGeneratedKeys="true">
        insert into sys_role
        (id, role_name, status, delete_flag, create_uid, create_time,
         update_uid, update_time)
        values (#{id}, #{roleName}, #{status}, #{deleteFlag}, #{createUid}, #{createTime},
                #{updateUid}, #{updateTime})
    </insert>
    <insert id="insertSelective" keyColumn="role_id" keyProperty="roleId"
            parameterType="com.aiocloud.onetable.mysql.sys.po.SysRolePO" useGeneratedKeys="true">
        insert into sys_role
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="roleName != null">role_name,</if>
            <if test="status != null">status,</if>
            <if test="deleteFlag != null">delete_flag,</if>
            <if test="createUid != null">create_uid,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateUid != null">update_uid,</if>
            <if test="updateTime != null">update_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="roleName != null">#{roleName},</if>
            <if test="status != null">#{status},</if>
            <if test="deleteFlag != null">#{deleteFlag},</if>
            <if test="createUid != null">#{createUid},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateUid != null">#{updateUid},</if>
            <if test="updateTime != null">#{updateTime},</if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.aiocloud.onetable.mysql.sys.po.SysRolePO">
        update sys_role
        <set>
            <if test="roleName != null">
                role_name = #{roleName},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="deleteFlag != null">
                delete_flag = #{deleteFlag},
            </if>
            <if test="createUid != null">
                create_uid = #{createUid},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
            <if test="updateUid != null">
                update_uid = #{updateUid},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
        </set>
        where id = #{id}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.aiocloud.onetable.mysql.sys.po.SysRolePO">
        update sys_role
        set role_name   = #{roleName},
            status      = #{status},
            delete_flag = #{deleteFlag},
            create_uid  = #{createUid},
            create_time = #{createTime},
            update_uid  = #{updateUid},
            update_time = #{updateTime}
        where id = #{id}
    </update>
</mapper>
