<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aiocloud.onetable.mysql.sys.mapper.SysRoleMenuRelMapper">

    <resultMap id="BaseResultMap" type="com.aiocloud.onetable.mysql.sys.po.SysRoleMenuRelPO">
            <id property="id" column="id" />
            <result property="menuCode" column="menu_code" />
            <result property="roleId" column="role_id" />
            <result property="createTime" column="create_time" />
            <result property="updateTime" column="update_time" />
            <result property="deleteFlag" column="delete_flag" />
            <result property="createUid" column="create_uid" />
            <result property="updateUid" column="update_uid" />
    </resultMap>

    <sql id="Base_Column_List">
        id,menu_code,role_id,create_time,update_time,delete_flag,
        create_uid,update_uid
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from sys_role_menu_rel
        where  id = #{id} 
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from sys_role_menu_rel
        where  id = #{id} 
    </delete>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.aiocloud.onetable.mysql.sys.po.SysRoleMenuRelPO" useGeneratedKeys="true">
        insert into sys_role_menu_rel
        ( id,menu_code,role_id,create_time,update_time,delete_flag,
        create_uid,update_uid)
        values (#{id},#{menuCode},#{roleId},#{createTime},#{updateTime},#{deleteFlag},
        #{createUid},#{updateUid})
    </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.aiocloud.onetable.mysql.sys.po.SysRoleMenuRelPO" useGeneratedKeys="true">
        insert into sys_role_menu_rel
        <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="id != null">id,</if>
                <if test="menuCode != null">menu_code,</if>
                <if test="roleId != null">role_id,</if>
                <if test="createTime != null">create_time,</if>
                <if test="updateTime != null">update_time,</if>
                <if test="deleteFlag != null">delete_flag,</if>
                <if test="createUid != null">create_uid,</if>
                <if test="updateUid != null">update_uid,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="id != null">#{id},</if>
                <if test="menuCode != null">#{menuCode},</if>
                <if test="roleId != null">#{roleId},</if>
                <if test="createTime != null">#{createTime},</if>
                <if test="updateTime != null">#{updateTime},</if>
                <if test="deleteFlag != null">#{deleteFlag},</if>
                <if test="createUid != null">#{createUid},</if>
                <if test="updateUid != null">#{updateUid},</if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.aiocloud.onetable.mysql.sys.po.SysRoleMenuRelPO">
        update sys_role_menu_rel
        <set>
                <if test="menuCode != null">
                    menu_code = #{menuCode},
                </if>
                <if test="roleId != null">
                    role_id = #{roleId},
                </if>
                <if test="createTime != null">
                    create_time = #{createTime},
                </if>
                <if test="updateTime != null">
                    update_time = #{updateTime},
                </if>
                <if test="deleteFlag != null">
                    delete_flag = #{deleteFlag},
                </if>
                <if test="createUid != null">
                    create_uid = #{createUid},
                </if>
                <if test="updateUid != null">
                    update_uid = #{updateUid},
                </if>
        </set>
        where   id = #{id} 
    </update>
    <update id="updateByPrimaryKey" parameterType="com.aiocloud.onetable.mysql.sys.po.SysRoleMenuRelPO">
        update sys_role_menu_rel
        set 
            menu_code =  #{menuCode},
            role_id =  #{roleId},
            create_time =  #{createTime},
            update_time =  #{updateTime},
            delete_flag =  #{deleteFlag},
            create_uid =  #{createUid},
            update_uid =  #{updateUid}
        where   id = #{id} 
    </update>
</mapper>
