<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aiocloud.kn.portal.dao.system.mapper.KnArticleMapper">

    <resultMap id="BaseResultMap" type="com.aiocloud.kn.portal.dao.system.domain.KnArticle">
        <id property="id" column="id"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="version" column="version"/>
        <result property="createUid" column="create_uid"/>
        <result property="updateUid" column="update_uid"/>
        <result property="deletedStatus" column="deleted_status"/>
        <result property="articleTitle" column="article_title"/>
        <result property="articleContent" column="article_content"/>
        <result property="menuId" column="menu_id"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,create_time,update_time,version,create_uid,update_uid,
        deleted_status,article_title,article_content, menu_id
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from kn_article
        where id = #{id}
    </select>

    <select id="selectTitleByMenuIds" resultMap="BaseResultMap">
        select article_title, id, menu_id
        from kn_article
        where deleted_status = 0 and menu_id in
        <foreach item="menuId" collection="menuIds" separator="," open="(" close=")">
            #{menuId}
        </foreach>
        order by create_time desc
    </select>

    <select id="selectCountByFulltextSearch" resultType="java.lang.Integer">
        SELECT count(*)
        FROM kn_article
        WHERE MATCH(article_title, article_content) AGAINST(#{content} IN NATURAL LANGUAGE MODE)
        and deleted_status = 0
    </select>

    <select id="selectByFulltextSearch" resultMap="BaseResultMap">
        SELECT id, article_title, SUBSTRING(article_content, 1, 100) as article_content, menu_id
        FROM kn_article
        WHERE MATCH(article_title, article_content) AGAINST(#{content} IN NATURAL LANGUAGE MODE)
          and deleted_status = 0
        ORDER BY create_time DESC
        LIMIT #{offset}, #{pageSize}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete
        from kn_article
        where id = #{id}
    </delete>
    <insert id="insertSelective" keyColumn="id" keyProperty="id"
            parameterType="com.aiocloud.kn.portal.dao.system.domain.KnArticle" useGeneratedKeys="true">
        insert into kn_article
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="version != null">version,</if>
            <if test="createUid != null">create_uid,</if>
            <if test="updateUid != null">update_uid,</if>
            <if test="deletedStatus != null">deleted_status,</if>
            <if test="articleTitle != null">article_title,</if>
            <if test="articleContent != null">article_content,</if>
            <if test="menuId != null">menu_id,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="version != null">#{version},</if>
            <if test="createUid != null">#{createUid},</if>
            <if test="updateUid != null">#{updateUid},</if>
            <if test="deletedStatus != null">#{deletedStatus},</if>
            <if test="articleTitle != null">#{articleTitle},</if>
            <if test="articleContent != null">#{articleContent},</if>
            <if test="menuId != null">#{menuId},</if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.aiocloud.kn.portal.dao.system.domain.KnArticle">
        update kn_article
        <set>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
            <if test="version != null">
                version = #{version},
            </if>
            <if test="createUid != null">
                create_uid = #{createUid},
            </if>
            <if test="updateUid != null">
                update_uid = #{updateUid},
            </if>
            <if test="deletedStatus != null">
                deleted_status = #{deletedStatus},
            </if>
            <if test="articleTitle != null">
                article_title = #{articleTitle},
            </if>
            <if test="articleContent != null">
                article_content = #{articleContent},
            </if>
            <if test="menuId != null">
                menu_id = #{menuId},
            </if>
        </set>
        where id = #{id}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.aiocloud.kn.portal.dao.system.domain.KnArticle">
        update kn_article
        set create_time    = #{createTime},
            update_time    = #{updateTime},
            version        = #{version},
            create_uid     = #{createUid},
            update_uid     = #{updateUid},
            deleted_status = #{deletedStatus},
            article_title          = #{articleTitle},
            article_content        = #{articleContent},
            menu_id        = #{menuId}
        where id = #{id}
    </update>
</mapper>
