<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aiocloud.kn.portal.dao.ruankao.mapper.RkUserMapper">

    <resultMap id="BaseResultMap" type="com.aiocloud.kn.portal.dao.ruankao.domain.RkUser">
            <id property="id" column="id" />
            <result property="createTime" column="create_time" />
            <result property="updateTime" column="update_time" />
            <result property="version" column="version" />
            <result property="createUid" column="create_uid" />
            <result property="updateUid" column="update_uid" />
            <result property="deletedStatus" column="deleted_status" />
            <result property="username" column="username" />
            <result property="userPwd" column="user_pwd" />
            <result property="salt" column="salt" />
            <result property="lastLoginTime" column="last_login_time" />
            <result property="avatar" column="avatar" />
            <result property="userStatus" column="user_status" />
    </resultMap>

    <sql id="Base_Column_List">
        id,create_time,update_time,version,create_uid,update_uid,
        deleted_status,username,user_pwd,salt,last_login_time,
        avatar,user_status
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from rk_user
        where  id = #{id} 
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from rk_user
        where  id = #{id} 
    </delete>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.aiocloud.kn.portal.dao.ruankao.domain.RkUser" useGeneratedKeys="true">
        insert into rk_user
        ( id,create_time,update_time,version,create_uid,update_uid,
        deleted_status,username,user_pwd,salt,last_login_time,
        avatar,user_status)
        values (#{id},#{createTime},#{updateTime},#{version},#{createUid},#{updateUid},
        #{deletedStatus},#{username},#{userPwd},#{salt},#{lastLoginTime},
        #{avatar},#{userStatus})
    </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.aiocloud.kn.portal.dao.ruankao.domain.RkUser" useGeneratedKeys="true">
        insert into rk_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="id != null">id,</if>
                <if test="createTime != null">create_time,</if>
                <if test="updateTime != null">update_time,</if>
                <if test="version != null">version,</if>
                <if test="createUid != null">create_uid,</if>
                <if test="updateUid != null">update_uid,</if>
                <if test="deletedStatus != null">deleted_status,</if>
                <if test="username != null">username,</if>
                <if test="userPwd != null">user_pwd,</if>
                <if test="salt != null">salt,</if>
                <if test="lastLoginTime != null">last_login_time,</if>
                <if test="avatar != null">avatar,</if>
                <if test="userStatus != null">user_status,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="id != null">#{id},</if>
                <if test="createTime != null">#{createTime},</if>
                <if test="updateTime != null">#{updateTime},</if>
                <if test="version != null">#{version},</if>
                <if test="createUid != null">#{createUid},</if>
                <if test="updateUid != null">#{updateUid},</if>
                <if test="deletedStatus != null">#{deletedStatus},</if>
                <if test="username != null">#{username},</if>
                <if test="userPwd != null">#{userPwd},</if>
                <if test="salt != null">#{salt},</if>
                <if test="lastLoginTime != null">#{lastLoginTime},</if>
                <if test="avatar != null">#{avatar},</if>
                <if test="userStatus != null">#{userStatus},</if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.aiocloud.kn.portal.dao.ruankao.domain.RkUser">
        update rk_user
        <set>
                <if test="createTime != null">
                    create_time = #{createTime},
                </if>
                <if test="updateTime != null">
                    update_time = #{updateTime},
                </if>
                <if test="version != null">
                    version = #{version},
                </if>
                <if test="createUid != null">
                    create_uid = #{createUid},
                </if>
                <if test="updateUid != null">
                    update_uid = #{updateUid},
                </if>
                <if test="deletedStatus != null">
                    deleted_status = #{deletedStatus},
                </if>
                <if test="username != null">
                    username = #{username},
                </if>
                <if test="userPwd != null">
                    user_pwd = #{userPwd},
                </if>
                <if test="salt != null">
                    salt = #{salt},
                </if>
                <if test="lastLoginTime != null">
                    last_login_time = #{lastLoginTime},
                </if>
                <if test="avatar != null">
                    avatar = #{avatar},
                </if>
                <if test="userStatus != null">
                    user_status = #{userStatus},
                </if>
        </set>
        where   id = #{id} 
    </update>
    <update id="updateByPrimaryKey" parameterType="com.aiocloud.kn.portal.dao.ruankao.domain.RkUser">
        update rk_user
        set 
            create_time =  #{createTime},
            update_time =  #{updateTime},
            version =  #{version},
            create_uid =  #{createUid},
            update_uid =  #{updateUid},
            deleted_status =  #{deletedStatus},
            username =  #{username},
            user_pwd =  #{userPwd},
            salt =  #{salt},
            last_login_time =  #{lastLoginTime},
            avatar =  #{avatar},
            user_status =  #{userStatus}
        where   id = #{id} 
    </update>
</mapper>
