<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aiocloud.onetable.mysql.table.mapper.TableUserRelMapper">

    <resultMap id="BaseResultMap" type="com.aiocloud.onetable.mysql.table.po.TableUserRelPO">
        <id property="id" column="id"/>
        <result property="userId" column="user_id"/>
        <result property="tableId" column="table_id"/>
        <result property="deleteFlag" column="delete_flag"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="createUid" column="create_uid"/>
        <result property="updateUid" column="update_uid"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,table_id,delete_flag,create_time,update_time,
        create_uid,update_uid
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_table_user_rel
        where id = #{id}
    </select>

    <select id="selectByUserIdAndTableId" resultType="com.aiocloud.onetable.mysql.table.po.TableUserRelPO">
        select
        <include refid="Base_Column_List"/>
        from t_table_user_rel
        where user_id = #{userId} and table_id = #{tableId} and delete_flag = 0 limit 1
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete
        from t_table_user_rel
        where id = #{id}
    </delete>
    <insert id="insert" keyColumn="id" keyProperty="id"
            parameterType="com.aiocloud.onetable.mysql.table.po.TableUserRelPO" useGeneratedKeys="true">
        insert into t_table_user_rel
        (id, user_id, table_id, delete_flag, create_time, update_time,
         create_uid, update_uid)
        values (#{id}, #{userId}, #{tableId}, #{deleteFlag}, #{createTime}, #{updateTime},
                #{createUid}, #{updateUid})
    </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id"
            parameterType="com.aiocloud.onetable.mysql.table.po.TableUserRelPO" useGeneratedKeys="true">
        insert into t_table_user_rel
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="userId != null">user_id,</if>
            <if test="tableId != null">table_id,</if>
            <if test="deleteFlag != null">delete_flag,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="createUid != null">create_uid,</if>
            <if test="updateUid != null">update_uid,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="userId != null">#{userId},</if>
            <if test="tableId != null">#{tableId},</if>
            <if test="deleteFlag != null">#{deleteFlag},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="createUid != null">#{createUid},</if>
            <if test="updateUid != null">#{updateUid},</if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.aiocloud.onetable.mysql.table.po.TableUserRelPO">
        update t_table_user_rel
        <set>
            <if test="userId != null">
                user_id = #{userId},
            </if>
            <if test="tableId != null">
                table_id = #{tableId},
            </if>
            <if test="deleteFlag != null">
                delete_flag = #{deleteFlag},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
            <if test="createUid != null">
                create_uid = #{createUid},
            </if>
            <if test="updateUid != null">
                update_uid = #{updateUid},
            </if>
        </set>
        where id = #{id}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.aiocloud.onetable.mysql.table.po.TableUserRelPO">
        update t_table_user_rel
        set user_id     = #{userId},
            table_id    = #{tableId},
            delete_flag = #{deleteFlag},
            create_time = #{createTime},
            update_time = #{updateTime},
            create_uid  = #{createUid},
            update_uid  = #{updateUid}
        where id = #{id}
    </update>
</mapper>
